* {
    margin: 0;
    padding: 0;
    background-size: border-box;
}

body {
    font: Arial, Helvetica, sans-serif;
    background: #333;
    color: aliceblue;
    h1 {
        font-size: 40px;
    }
}